{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Tableau de bord' %}

{% block page_content %}

    <style>
        .btn:focus, .btn:active, button:focus, button:active {
        outline: none !important;
        box-shadow: none !important;
        }

        #image-gallery .modal-footer{
        display: block;
        }

        .thumb{
        margin-top: 15px;
        margin-bottom: 15px;
        }

        /* Par défaut (mode clair) */
        .img-thumbnail {
            filter: none;
        }

        /* Mode sombre (basé sur la classe de EasyAdmin) */
        body.ea-dark-scheme .img-thumbnail {
            filter: invert(100%) hue-rotate(180deg);
            background-color: white !important;
        }

        /* Mode sombre (basé sur l'attribut data-bs-theme) */
        body[data-bs-theme="dark"] .img-thumbnail {
            filter: invert(100%) hue-rotate(180deg);
            background-color: white !important;
        }

    </style>


    <div class="container">
            <div class="col-sm-12">

            {% if is_granted('ROLE_ADMIN') %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <div class="row">

                                <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="https://talk.hyvor.com/console/" data-title="Gestion Commentaires" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-comments.svg" style="max-width: 100px;" alt="Gestion commentaires">
                                        <p style=" text-align: center; font-size: 1rem;">Gestion Commentaires</p>
                                    </a>
                                </div>

                                {# <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="#" data-title="Push Mobile" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-notifications.svg" style="max-width: 100px;" alt="Gestion Mobile Push">
                                        <p style=" text-align: center; font-size: 1rem;">Push Mobile</p>
                                    </a>
                                </div> #}

                                <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="/kiosque" data-title="Liseuse Numerique" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-liseuse.svg" style="max-width: 100px;" alt="Liseuse Numerique">
                                        <p style=" text-align: center; font-size: 1rem;">Kiosque Numerique</p>
                                    </a>
                                </div>

                                <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="/admin?routeName=app_push" data-title="Notifications PUSH mobile">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-notifications.svg" style="max-width: 100px;" alt="Notifications PUSH mobile">
                                        <p style=" text-align: center; font-size: 1rem;">Notifications Push</p>
                                    </a>
                                </div>

                                <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="/admin?routeName=app_ads_pave_video" data-title="Generateur format pub">
                                        <img class="img-thumbnail" src="/assets/admin/icones/pave-video.svg" style="max-width: 100px;" alt="Generateur Pavé Video">
                                        <p style=" text-align: center; font-size: 1rem;">Generer Pavé Video</p>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            {# <div class="row">

                                <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="/admin?routeName=app_ads_pave_video" data-title="Generateur format pub" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/pave-video.svg" style="max-width: 100px;" alt="Generateur Pavé Video">
                                        <p style=" text-align: center; font-size: 1rem;">Generer Pavé Video</p>
                                    </a>
                                </div>

                            </div> #}
                        </div>
                    </div>
                </div>
            {% elseif is_granted('ROLE_EDITOR') %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <div class="row">

                                <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="https://talk.hyvor.com/console/" data-title="Gestion Commentaires" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-comments.svg" style="max-width: 100px;" alt="Gestion commentaires">
                                        <p style=" text-align: center; font-size: 1rem;">Gestion Commentaires</p>
                                    </a>
                                </div>

                                <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="/admin?routeName=app_push" data-title="Notifications PUSH mobile">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-notifications.svg" style="max-width: 100px;" alt="Notifications PUSH mobile">
                                        <p style=" text-align: center; font-size: 1rem;">Notifications Push</p>
                                    </a>
                                </div>

                                <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="/kiosque" data-title="Liseuse Numerique" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-liseuse.svg" style="max-width: 100px;" alt="Liseuse Numerique">
                                        <p style=" text-align: center; font-size: 1rem;">Kiosque Numerique</p>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="col-sm-12">

                        </div>
                    </div>
                </div>
            {% elseif is_granted('ROLE_ABO') %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <div class="row">

                                {# <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="https://talk.hyvor.com/console/" data-title="Gestion Commentaires" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-comments.svg" style="max-width: 100px;" alt="Gestion commentaires">
                                        <p style=" text-align: center; font-size: 1rem;">Gestion Commentaires</p>
                                    </a>
                                </div> #}

                                {# <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="#" data-title="Push Mobile" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-notifications.svg" style="max-width: 100px;" alt="Gestion Mobile Push">
                                        <p style=" text-align: center; font-size: 1rem;">Push Mobile</p>
                                    </a>
                                </div> #}

                                <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="/kiosque" data-title="Liseuse Numerique" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-liseuse.svg" style="max-width: 100px;" alt="Liseuse Numerique">
                                        <p style=" text-align: center; font-size: 1rem;">Kiosque Numerique</p>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="col-sm-12">

                        </div>
                    </div>
                </div>
            {% elseif is_granted('ROLE_DESK') %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <div class="row">

                                {# <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="https://talk.hyvor.com/console/" data-title="Gestion Commentaires" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-comments.svg" style="max-width: 100px;" alt="Gestion commentaires">
                                        <p style=" text-align: center; font-size: 1rem;">Gestion Commentaires</p>
                                    </a>
                                </div> #}

                                {# <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="#" data-title="Push Mobile" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-notifications.svg" style="max-width: 100px;" alt="Gestion Mobile Push">
                                        <p style=" text-align: center; font-size: 1rem;">Push Mobile</p>
                                    </a>
                                </div> #}

                                <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="/kiosque" data-title="Liseuse Numerique" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-liseuse.svg" style="max-width: 100px;" alt="Liseuse Numerique">
                                        <p style=" text-align: center; font-size: 1rem;">Kiosque Numerique</p>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="col-sm-12">

                        </div>
                    </div>
                </div>
            {% elseif is_granted('ROLE_EDITDESK') %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <div class="row">

                                {# <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="https://talk.hyvor.com/console/" data-title="Gestion Commentaires" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-comments.svg" style="max-width: 100px;" alt="Gestion commentaires">
                                        <p style=" text-align: center; font-size: 1rem;">Gestion Commentaires</p>
                                    </a>
                                </div> #}

                                {# <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="#" data-title="Push Mobile" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-notifications.svg" style="max-width: 100px;" alt="Gestion Mobile Push">
                                        <p style=" text-align: center; font-size: 1rem;">Push Mobile</p>
                                    </a>
                                </div> #}

                                <div class="col-lg-4 col-md-4 col-xs-12 thumb text-center">
                                    <a class="thumbnail" href="/kiosque" data-title="Liseuse Numerique" target="_blank">
                                        <img class="img-thumbnail" src="/assets/admin/icones/icone-liseuse.svg" style="max-width: 100px;" alt="Liseuse Numerique">
                                        <p style=" text-align: center; font-size: 1rem;">Kiosque Numerique</p>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="col-sm-12">

                        </div>
                    </div>
                </div>
            {% else %}
                {# <script>
                    window.location.href = "/";
                </script> #}
            {% endif %}

            </div>
        </div>

{% endblock %}
