{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Tableau de bord' %}

{% block page_content %}

    <style>
        .btn:focus, .btn:active, button:focus, button:active {
        outline: none !important;
        box-shadow: none !important;
        }

        #image-gallery .modal-footer{
        display: block;
        }

        .thumb{
        margin-top: 15px;
        margin-bottom: 15px;
        }

        /* Par défaut (mode clair) */
        .img-thumbnail {
            filter: none;
        }

        /* Mode sombre (basé sur la classe de EasyAdmin) */
        body.ea-dark-scheme .img-thumbnail {
            filter: invert(100%) hue-rotate(180deg);
            background-color: white !important;
        }

        /* Mode sombre (basé sur l'attribut data-bs-theme) */
        body[data-bs-theme="dark"] .img-thumbnail {
            filter: invert(100%) hue-rotate(180deg);
            background-color: white !important;
        }

    </style>


    <div class="container mt-4">
        <div class="row">

            <div class="col-md-6">
                <label class="form-label fw-bold">Sélectionnez un formulaire</label>

                <select id="form-select" class="form-select">
                    <option value="">-- Choisir un formulaire --</option>

                    {% for form in forms %}
                        <option value="{{ form.id }}">{{ form.title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-2 d-flex align-items-end">
                <button class="btn btn-success w-100" onclick="exportForm()">
                    Exporter
                </button>
            </div>

        </div>
    </div>

    <script>
        function exportForm() {
            const id = document.getElementById('form-select').value;

            if (!id) {
                alert("Veuillez sélectionner un formulaire.");
                return;
            }

            window.open('/admin/answers/export/' + id, '_blank');
        }
    </script>

{% endblock %}
